{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %} Іспити {% endblock meta_title %}

{% block title %} Іспити {% endblock title %}

{% block content %}

  <!-- Add Exams Button -->
  <a class="btn btn-primary" href="{% url 'exams_add' %}" id="btn-link">Додати Іспит</a>

  <table class="table table-hover table-striped">
    <!-- Start Table Head -->
    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <thead>
      <th>
        <a href="{% url 'exams' %}?order_by=name{% if order_by == 'name' and reverse != '1' %}&amp;reverse=1{% endif %}">Назва
          {% if order_by == 'name' and reverse != '1' %}&uarr;
          {% elif order_by == 'name' and reverse == '1' %}&darr;
          {% endif %}
        </a>
      </th>
      <th>
        <a href="{% url 'exams' %}?order_by=group{% if order_by == 'group' and reverse != '1' %}&amp;reverse=1{% endif %}">Группа
          {% if order_by == 'group' and reverse != '1' %}&uarr;
          {% elif order_by == 'group' and reverse == '1' %}&darr;
          {% endif %}
        </a>
      </th>
      <th>Викладач</th>
      <th>
        <a href="{% url 'exams' %}?order_by=time{% if order_by == 'time' and reverse != '1' %}&amp;reverse=1{% endif %}">Дата та Час
          {% if order_by == 'time' and reverse != '1' %}&uarr;
          {% elif order_by == 'time' and reverse == '1' %}&darr;
          {% endif %}
        </a>
      </th>
      <th>Дії</th>
    </thead>
    {% endwith %}
    <!--End Table Head -->

    <!-- Start Table Body -->
    <tboby>

      <!--Start Exams Info -->
      {% for exam in exams %}
        <tr>
          <td>{{ exam.name }}</td>
          <td><a href="{% url 'groups_edit' exam.group.id  %}">{{ exam.group.title }}</a></td>
          <td>{{ exam.lecturer }}</td>
          <td>{{ exam.time }}</td>
          <td>
            <div class="dropdown">
            <button class="btn btn-default dropdown-toggle"
                    type="button"  data-toggle="dropdown">Дія
                    <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <a role="menuitem" tabindex="-1"
                    href="{% url 'exams_edit' exam.id %}">Редагувати</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1"
                    href="{% url 'exams_delete' exam.id %}">Видалити</a>
              </li>
            </ul>
          </div>
          </td>
        </tr>
      {% endfor %}
      <!-- End Exams Info -->
    </tbody>
    <!-- End Table Body  -->
  </table>

{% endblock content %}
