{% extends 'students/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Додати Групу{% endblock meta_title %}

{% block title %}Додати Групу{% endblock title %}

{% block content %}
  <form class="form-horizontal" role="form" action="{% url 'groups_add' %}" method="post" enctype="multipart/form-data">

    {% csrf_token %}

      {{ form.as_p }}

    <div>
      <input type="submit" value="Додати" name="add_button" class="btn btn-primary" />
      <input type="submit" value="Скасувати" name="cancel_button" class="btn btn-default" />
    </div>

  </form>
{% endblock content %}
