{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Відвідування{% endblock meta_title %}

{% block title %} Облік Відвідування {% endblock title %}

{% block content %}
<!-- Table Header-->
<center><strong><p id="journal-head"> <a href="#">&larr;</a> Травень 2017 <a href="#">&rarr;</a> </p></strong></center>

<!-- Start Table Journal -->

<table class="table table-bordered table-hover table-striped" id="journal">

  <thead>
    <tr>
      <th>#</th>
      <th>Студент</th>
      <th>Пн 1</th>
      <th>Вт 2</th>
      <th>Ср 3</th>
      <th>Чт 4</th>
      <th>Пт 5</th>
      <th>Сб 6</th>
      <th>Нд 7</th>
      <th>Пн 8</th>
      <th>Вт 9</th>
      <th>Ср 10</th>
      <th>Чт 11</th>
      <th>Пт 12</th>
      <th>Сб 13</th>
      <th>Нд 14</th>
      <th>Пн 15</th>
      <th>Вт 16</th>
      <th>Ср 17</th>
      <th>Чт 18</th>
      <th>Пт 19</th>
      <th>Сб 20</th>
      <th>Нд 21</th>
      <th>Пн 22</th>
      <th>Вт 23</th>
      <th>Ср 24</th>
      <th>Чт 25</th>
      <th>Пт 26</th>
      <th>Сб 27</th>
      <th>Нд 28</th>
      <th>Пн 29</th>
      <th>Вт 30</th>
      <th>Ср 31</th>
    </tr>
  </thead>

  <tbody>

    <!-- Start Students -->
    {% for student in journal %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><a title="Редагувати" href="{% url "students_edit" student.id %}">{{ student.student }}</a></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
    </tr>
    {% endfor %}
    <!-- End Students  -->

  </tbody>

</table>
<!-- End Table Journal -->
{% endblock content %}
